{% extends 'bank_app/base.html' %}
{% block title %} Accounts {% endblock %}

{% block content %}
<h1>My accounts</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Balance</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for account in customer.accounts %}
        <tr>
            <td>{{account.id}}</td>
            <td>{{account.name}}</td>
            <td>{{account.balance}}</td>
            <td><a href="#accountTransactions-{{account.id}}" data-toggle="collapse" aria-expanded="false" aria-controls="accountTransactions-{{account.id}}">View transactions</a></td>
            <td><a href="{% url 'bank_app:download_pdf' account.id %}">Download PDF</a></td>
        </tr>
        <tr class="collapse bg-light" id="collapseMe">
            <th scope="col">Account</th>
            <th scope="col">Amount</th>
            <th scope="col">Text</th>
            <th></th>
            <th></th>
        </tr>
        {% for movement in account.movements %}
        <tr class="collapse bg-light" id="accountTransactions-{{account.id}}">
            <td>
                {{movement.account}}
            </td>
            <td>
                {{movement.amount}}
            </td>
            <td>
                {{movement.text}}
            </td>
            <td></td>
            <td></td>
        </tr>
        {% endfor %}
        
    {% endfor %}
</table>

{% endblock %}
