{% extends 'bank_app/base.html' %}
{% block title %} All customers {% endblock %}

{% block content %}
<h1>All customers</h1>
<hr>
<form action="">
    <label for="name">Name</label>
    <input id="searchTerm" type="text" name="name" autocomplete="off">
</form>
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Rank</th>
            <th scope="col">Details</th>
        </tr>
    </thead>
    <tbody id="">
    {% for customer in customers %}
        <tr>
            <th scope="row">{{ customer.id }}</th>
            <td>{{ customer.user.username }}</td>
            <td>{{ customer.user.email }}</td>
            <td>{{ customer.phone }}</td>
            <td>{{ customer.rank }}</td>
            <td><a href="{% url 'bank_app:customer_details' customer.id %}">Details</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
{% block javascript %}
<script>
    $("#searchTerm").keyup(function () {
        var searchTerm = $("#searchTerm").val().toLowerCase();
        $("tbody tr").filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(searchTerm) > -1)
        });
    });
</script>
{% endblock %}