{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    {% load has_group %}
</head>

<body>

    <nav class="navbar bg-dark navbar-dark navbar-expand-md">
        <a class="navbar-brand" href="{% url 'bank_app:index' %}">Home</a>
        <div class="collapse navbar-collapse" id="navbarCollapse"></div>
        <ul class="navbar-nav mr-auto">
        {% if user.is_authenticated %}
            {% if request.user|has_group:"Banker" %}
                <li class="nav-item"><a class="nav-link text-white" href="{% url 'bank_app:new_customer' %}">New customer</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="{% url 'bank_app:all_customers' %}">All customers</a></li>
            {% elif request.user|has_group:"Customer" %}
                <li class="nav-item"><a class="nav-link text-white" href="{% url 'invest_app:investments' %}">Investments</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="{% url 'bank_app:loans' %}">Make a loan</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="{% url 'bank_app:accounts' %}">Accounts</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="{% url 'bank_app:transfer_money' %}">Transfer</a></li>
            {% endif %}
            <li class="nav-item"><a class="nav-link text-white" href="{% url 'bank_app:profile' %}">Profile</a></li>
            <li class="nav-item"><a class="nav-link text-white" href="{% url 'login_app:logout' %}">Logout</a></li>
        {% else %}
            <li class="nav-item"><a class="nav-link text-white" href="{% url 'login_app:login' %}">Login</a></li>
        {% endif %}
        </ul>
    </nav>

    <div class="container">
    {% block content %}
    {% endblock %}
    </div>
    {% block javascript %}{% endblock %}

</body>

</html>