{% extends 'bank_app/base.html' %}
{% block title %} Customer details {% endblock %}

{% block content %}
<h1>Create new account</h1>
<hr>
<form action="{% url 'bank_app:create_customer_account' customer_id %}" method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input class="form-control" type="text" name="name" placeholder="Name">
            </div>
            <input class="btn btn-primary" type="submit" value="Create account">
        </div>
    </div>
</form>
<hr>
{% endblock %}