{% extends 'bank_app/base.html' %}
{% block title %} Customer details {% endblock %}

{% block content %}
<h1>Customer details</h1>
<hr>
<form action="{% url 'bank_app:customer_details' customer.id %}" method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="username">Username:</label>
                <input class="form-control" name="username" type="text" value="{{customer.user.username}}">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input class="form-control" name="email" type="text" value="{{customer.user.email}}">
            </div>
            <div class="form-group">
                <label for="phone">Phone number:</label>
                <input class="form-control" name="phone" type="tel" value="{{customer.phone}}">
            </div>
            <div class="form-group">
                <label for="rank">Rank:</label>
                <select class="form-control" name="rank">
                    {% for rank in customer_ranks %}
                    <option value="{{rank.value}}" {% if customer.rank.value == rank.value %} selected {% endif %}>
                        {{rank.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <input type="submit" class="btn btn-primary" value="Update">
        </div>
    </div>
</form>
<hr>

<div class="col-md-6 bg-light">
    <h2>Accounts:</h2>
    <a href="{% url 'bank_app:create_customer_account' customer.id %}">Create new account for {{customer.user.username}}</a>
    {% for account in customer.accounts %}
    <a class="border-dark border-bottom d-flex justify-content-between text-dark" href="#accountTransactions-{{account.id}}" data-toggle="collapse" aria-expanded="false" aria-controls="accountTransactions">    
        <span class="mr-5">
            {{account.name}}
        </span>
        <span>
            {{account.balance}} &darr;
        </span>
    </a>
    <ul class="list-group collapse" id="accountTransactions-{{account.id}}">
        {% for account_movement in account.movements %}
        <li class="list-group-item">
            <p>Text: {{account_movement.text}}</p>
            <p>Amount: {{account_movement.amount}}</p>
            <p>Timestamp: {{account_movement.timestamp}}</p>
            
        </li>
        {% endfor %}
    </ul>
    {% endfor %}
    
</div>
{% endblock %}