{% extends 'bank_app/base.html' %}
{% block title %} Home {% endblock %}

{% block content %}
<h1>Home page</h1>
<h3>Logged in to user: {{user}}</h3>

<h2>Er diagram</h2>
{% load static %}
<img src="{% static 'bank_app/ER-Diagram.jpg' %}" alt="er-diagram" style="width: 70%;">
{% endblock %}