{% extends 'bank_app/base.html' %}
{% block title %} Loans {% endblock %}
{% block content %}
{% if customer.can_make_loans %}
<h1>Make a loan</h1>
<hr>
<form action="{% url 'bank_app:loans' %}" method="POST">
    {% csrf_token %}
    <div class="col-md-4">
        <div class="form-group">
            <input class="form-control" type="number" name="amount" placeholder="Loan amount" autocomplete="off">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="loan_name" placeholder="Name of loan">
        </div>
        <div class="form-group">
            <select name="account_name" class="form-control">
                {% for account in customer.accounts %}
                {% if account.balance >= 0 %}
                <option value="{{account.name}}">{{account.name}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <input class="btn btn-primary" type="submit" value="Take loan">
    </div>

</form>
<hr>
{% else %}
<p>You need to be silver or gold member to take a loan :) {{user.userprofile}}</p>
{% endif %}
{% endblock %}
