{% extends 'bank_app/base.html' %}
{% block title %} New Customer {% endblock %}

{% block content %}
<h1>Create new customer</h1>
<hr>
<form action="{% url 'bank_app:new_customer'%}" method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input class="form-control" type="text" name="username" placeholder="Customers Username">
            </div>
            <div class="form-group">
                <input class="form-control" type="email" name="email" placeholder="Customers email">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Customers password">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="confirm_password"
                    placeholder="Cornfirm customers password">
            </div>
            <div class="form-group">
                <input class="form-control" type="tel" name="phone" placeholder="Customers telephone number">
            </div>
            <input class="btn btn-primary" type="submit" value="Create customer">
        </div>
    </div>
</form>
<hr>
{% endblock %}