{% extends 'bank_app/base.html' %}
{% block title %} Profile {% endblock %}

{% block content %}
<h1>User info for: {{user.username}}</h1>
<hr>
<form action="{% url 'bank_app:profile'%}" method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="username">Username:</label>
                <input class="form-control" type="text" name="username" value="{{user.username}}">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input class="form-control" type="email" name="email" value="{{user.email}}">
            </div>
            <div class="form-group">
                <label for="phone">Phone number:</label>
                <input class="form-control" type="tel" name="phone" value={{user.customer.phone}}>
            </div>
            <input class="btn btn-primary" type="submit" value="Save changes">
        </div>
    </div>
</form>
<hr>
<a href="{% url 'login_app:password_reset' %}">Request Password Reset</a>
{% endblock %}