{% extends 'bank_app/base.html' %}
{% block title %} Tranfer money {% endblock %}

{% block content %}
<h1>Transfer money</h1>
<hr>
<form action="{% url 'bank_app:transfer_money' %}" method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                From account:
                <select class="form-control" name="from_account">
                    {% for account in user_accounts %}
                    <option value="{{account.pk}}">{{account}} ({{account.balance}} kr.)</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                To user:
                <select class="form-control" name="customer-pk" id="customer-pk">
                    {% for customer in all_customers %}
                    <option value="{{customer.user.pk}}">{{customer.user.username}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                To account:
                <select class="form-control" id=customerAccounts name="to_account">
                    <option value="" disabled hidden selected>Select account</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input class="form-control" type="number" name="amount" placeholder="Transfer amount"
                    autocomplete="off">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Transfer money">
            </div>
        </div>
    </div>
</form>
<hr>


{% if error %}<p style="color:red;">{{error}}</p>{% endif %}
{% endblock %}
{% block javascript %}
<script>
    $("#customer-pk").change(function () {
        var user_id = $(this).val();
        $.ajax({
            url: `/api/v1/${user_id}`,
            dataType: 'json',
            success: function (data) {
                $("#customerAccounts").empty();
                $("#customerAccounts").append("<option value='' disabled hidden selected>Select account</option>")
                for (i = 0; i < data.length; i++) {
                    $("#customerAccounts").append(`<option value="${data[i].id}">${data[i].name}</option>`);
                }
            }
        });
    });
</script>
{% endblock %}