{% extends 'bank_app/base.html' %}
{% block content %}
    <h1>Investments</h1>
    <hr>
    <div id="chartContainer" style="height: 300px; width: 100%;"></div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Company</th>
                <th scope="col">Abbreviation</th>
                <th scope="col">Bid</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for company in companyList %}
            <tr>
                <td>{{company.longName}}</td>
                <td>{{company.symbol}}</td>
                <td>{{company.bid}}</td>
                <td><button class="companyButton btn btn-primary" value="{{company.symbol}}">Show graph</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>
    
    
{% endblock %}
{% block javascript %}
<script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
<script>
    $("button").click(function () {
        var symbol = $(this).val();
        var url = `https://apidojo-yahoo-finance-v1.p.rapidapi.com/stock/v2/get-chart?interval=1d&symbol=${symbol}&range=1mo&region=DE`

        $.ajax({
            url: url,
            dataType: 'json',
            headers: {
                "x-rapidapi-key": "6e444d258fmsh6df169bedf5820ap1e6f7djsn85fb8bc797c0",
                "x-rapidapi-host": "apidojo-yahoo-finance-v1.p.rapidapi.com"
            },
            success: function (data) {
                let openArray = [];
                let closeArray = [];
                for(i=0;i<data.chart.result[0].timestamp.length;i++) {
                    // Convrt epoch time to real date and get year, month and day
                    let d = new Date(0);
                    let epochTime = data.chart.result[0].timestamp[i];
                    d.setUTCSeconds(epochTime);
                    let year = d.getFullYear();
                    let month = d.getMonth();
                    let day = d.getDate();
                    let x = `${year}, ${month}, ${day}`;

                    // Get Y values for open and close
                    let openY = data.chart.result[0].indicators.quote[0].open[i];
                    let closeY = data.chart.result[0].indicators.quote[0].close[i];

                    // Format variables so it matches syntax for the chart
                    let openObject = {x:new Date(x), y:openY}
                    let closeObject = {x:new Date(x), y:closeY}

                    // Push objects to arrays
                    openArray.push(openObject);
                    closeArray.push(closeObject)

                }

                var options = {
                    animationEnabled: true,
                    theme: "light2",
                    title:{
                        text: symbol
                    },
                    axisX:{
                        valueFormatString: "DD MMM"
                    },
                    axisY: {
                        title: "Amount in dollars",
                        suffix: "K"
                    },
                    toolTip:{
                        shared:true
                    },  
                    legend:{
                        cursor:"pointer",
                        verticalAlign: "bottom",
                        horizontalAlign: "left",
                        dockInsidePlotArea: true,
                        itemclick: toogleDataSeries
                    },
                    data: [{
                        type: "line",
                        showInLegend: true,
                        name: "Open",
                        markerType: "square",
                        xValueFormatString: "DD MMM, YYYY",
                        color: "#FF0000",
                        yValueFormatString: "#,##0K",
                        dataPoints: openArray
                    },
                    {
                        type: "line",
                        showInLegend: true,
                        name: "Close",
                        markerType: "square",
                        xValueFormatString: "DD MMM, YYYY",
                        color: "#001FFF",
                        yValueFormatString: "#,##0K",
                        dataPoints: closeArray
                        
                    }]
                };
                $("#chartContainer").CanvasJSChart(options);
            
                function toogleDataSeries(e){
                    if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                        e.dataSeries.visible = false;
                    } else{
                        e.dataSeries.visible = true;
                    }
                    e.chart.render();
                }
            }
        });
    });
</script>
{% endblock %}

