{% extends 'bank_app/base.html' %}
{% block title %} Login {% endblock %}

{% block content %}
<h1>Login</h1>
<hr>
<form action="{% url 'login_app:login' %}" method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input class="form-control" type="text" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <input class="btn btn-primary" type="submit" value="Login">
        </div>
    </div>
</form>
<hr>
{% if error %}<p style="color:red">{{error}}</p> {% endif %}
<a href="{% url 'login_app:password_reset' %}">Request Password Reset</a>
<hr>
<div>
    <p> <b> Hello,</b>
        This is Miklas' and davids bank project.
    </p>
    <p>
        <b>Banker:</b><br>
        Banker username: bankmand <br>
        Banker password: asd123
    </p>
    <p>
        <b>Customer with gold rank:</b><br>
        Customer username: testuser <br>
        Customer password: test123
    </p>
    <p>
        <b>Customer with Basic rank:</b><br>
        Customer username: testuser2 <br>
        Customer password: test123
    </p>
    <p>
        Only for backend <br>
        Admin username: admin <br>
        Admin password: admin
    </p>
</div>
{% endblock %}