{% extends 'bank_app/base.html' %}
{% block title %} Login {% endblock %}

{% block content %}
    <h1>New Password</h1>
    <hr />
    <form action="{% url 'login_app:password_reset_form' %}" method="POST">
        <input type="hidden" name="secret" value="{{ secret }}">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <input class="form-control" type="email" name="email" placeholder="Email Address">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="New Password">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="confirm_password" placeholder="Confirm New Password">
                </div>
                <input class="btn btn-primary" type="submit" value="Set New Password">
            </div>
        </div>
    </form>
    <hr />
    {% if error %}{{ error }}{% endif %}
{% endblock %}