{% extends 'bank_app/base.html' %}
{% block title %} Login {% endblock %}

{% block content %}
    <h1>Request Password Request</h1>
    <hr>
    <form action="{% url 'login_app:password_reset' %}" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <input class="form-control" type="email" name="email" placeholder="Email">
                </div>    
                <input class="btn btn-primary" type="submit" value="Reset password">
            </div>
        </div>
    </form>
    <hr>
    {% if message %}{{ message }}{% endif %}
{% endblock %}